<% include ../partials/header.ejs %>






<div class="container">

	<h1 class="text-center">All Lost Pupperonis</h1>
	<a href="/" class="btn btn-lg btn-primary">Home</a>


	<div class="row">
		<div class="col-12">
			<h2>Recent LostPetFinderLA Alerts</h2>
			<a href="/new" class="btn btn-primary btn-lg">Add Lost Pet</a>
			
		</div>

		<%lostPet.forEach(function(element){ %>

			<div class="col-md-4">
				
				<div class="card">
				  
				  <img class="card-img-top" id="background-image-url"  style="background-image: url(<%= element.image %>);" >

				  <div class="card-body">
				  	
				  	<h5 class="card-title">
				  		<%= element.name %>
				  	</h5>

				  	<p class="card-text">
				  		<%= element.desc.substring(0, 100) %>...
				  	</p>



	    			
	    			<a href="/lostpets/<%= element._id %>" class="btn btn-primary">Have you seen <%= element.name %>?</a>
				  </div>
				</div>
			</div>

		<% });%>

	</div>


</div>

<% include ../partials/footer.ejs %>
