<% include ../partials/header.ejs %>

<div class="container">

	<div class="row">

		<div class="col-12">

			<h1 class="text-center h1">Recent LostPetFinderLA Alerts</h1>		
		</div>

		<%lostPet.forEach(function(element){ %>

			<div class="col-md-4">
				
				<div class="card mb-4">
				  
				  <img class="card-img-top" id="background-image-url"  style="background-image: url(<%= element.image %>);" >

				  <div class="card-body">
				  	
				  	<h5 class="card-title">
				  		<%= element.name %>
				  	</h5>

				  	<p class="card-text">
				  		<%= element.desc.substring(0, 100) %>...
				  	</p>



	    			
	    			<a href="/lostpets/<%= element._id %>" class="btn btn-primary">Have you seen <%= element.name %>?</a>
				  </div>
				</div>
			</div>

		<% });%>


		<div class="col-12 text-center mb-4">
			<a href="/new" class="btn btn-primary btn-lg">Add Lost Pet</a>	
		</div>
	</div>



</div>




<% include ../partials/footer.ejs %>
